<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Blog</title>
    <link
      href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
      rel='stylesheet'
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'
    />
    <link
      href='https://unpkg.com/quill-image-uploader@1.2.1/dist/quill.imageUploader.min.css'
      rel='stylesheet'
    />
    <link
      href='https://cdn.quilljs.com/1.3.6/quill.snow.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='../css/style.css' />
    <link rel='stylesheet' href='../css/media.css' />
  </head>
  <body>
    {{> nav }}
    {{#if singleBlog}}
    <section class='blog'>
      <div class='blog_container'>
        <div class='blog_wrapper'>
          <div class='left'>
            <div class='user_info'>
              <div class='left'>
                <div class='image'>
                  <img src={{singleBlog.author.avatarImg}} alt='' />
                </div>
                <div class='right'>
                  <div class='name'>
                    <h4> {{singleBlog.author.name}} </h4>
                  </div>
                  <div class='time'>
                    <p> {{singleBlog.date}} </p>
                  </div>
                </div>
              </div>
              <div class='bio'>
                <p>{{singleBlog.author.bio}}</p>
              </div>
            </div>
          </div>
          <div class='right'>
            <div class='right_container'>
              <h1 class='title'> {{singleBlog.title}} </h1>
              <p class='date'>{{singleBlog.date}}</p>
              <div class='image'>
                <img src={{singleBlog.image}} alt='' />
              </div>
              <div class='content'>
                {{{singleBlog.description}}}
              </div>
            </div>
            <div class='user_info'>
              <div class='image'>
                <img src={{singleBlog.author.avatarImg}} alt='' />
              </div>
                <div class='name'>
                  <h4> {{singleBlog.author.name}} </h4>
                </div>
              <div class='bio'>
                <p>{{singleBlog.author.bio}}</p>
              </div>
            </div>
            <div class='comment_box'>
              <h4>Leave a comment..</h4>
              <div id='commentBox'></div>
              <button class="comment_btn" id="comment_btn" >Comment</button>
            </div>
            <div class="all_comment">
            </div>
          </div>
        </div>
      </div>
    </section>
    {{/if}}
    <script
      type='text/javascript'
      src='https://cdn.jsdelivr.net/npm/toastify-js'
      type='module'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'
      type='module'
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src='https://cdn.quilljs.com/1.3.6/quill.js' type='module'></script>
    <script
      src='https://unpkg.com/quill-image-uploader@1.2.1/dist/quill.imageUploader.min.js'
      type='module'
    ></script>
    <script src='../js/toast-message.js' type='module'></script>
    <script src='../js/comment.js' type='module'></script>
  </body>
</html>