<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Blog</title>
    <link
      href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
      rel='stylesheet'
    />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='./css/style.css' />
    <link rel='stylesheet' href='./css/media.css' />
  </head>

  <body>
   {{> nav }}
    <main>
      <div class='main_container'>
        {{#each blog}}
        {{!-- {{log this}} --}}
                <div class='main_item'>
          <div class='main_item_topbar'>
            <div class='left'>
              <img src={{this.author.avatarImg}} alt='' />
              <div class='info'>
                <h5 class='name'> {{this.author.name}} </h5>
                <h5 class='time'> {{this.date}} </h5>
              </div>
            </div>
          </div>
          <div class='main_item_title'>
            <h3> {{this.title}} </h3>
          </div>
          <div class='main_item_image'>
            <a href='blog/{{this.id}}' >
              <img src={{this.image}} alt='' />
            </a>

          </div>
        </div>
        {{/each}}
      </div>
  <div class="pagination" id="pagination" >
    {{!-- <ul>
      <li>
        <a href="/?page=1">prev</a>
      </li>
      <li>
        <a href="">2</a>
      </li>
      <li>
        <a href="">3</a>
      </li>
      <li>
        <a href="">4</a>
      </li>
      <li>
        <a href="">next</a>
      </li>
    </ul> --}}
  </div>
    </main>
    <script src="./js/pagination.js" ></script>
  </body>

</html>